@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.card {
    margin: 10px;
}

.search-bar {
    display: flex;
    margin: 10px;
}
