<div class="container-sm">
    <form [formGroup]="form" class="row g-3">
        <div class="col-6">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control" id="nome">
        </div>
        <div class="col-6">
          <label for="tel" class="form-label">Telefone</label>
          <input type="tel" formControlName="telefone" class="form-control" id="tel">
        </div>
        <div class="col-6">
          <label for="endereco" class="form-label">Endereço</label>
          <input type="text" formControlName="endereco" class="form-control" id="endereco">
        </div>
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control" id="email">
        </div>
        <div class="col-6">
          <label for="servico" class="form-label">Serviço</label>
          <input type="text" formControlName="servico" class="form-control" id="servico">
        </div>
        <button class="btn btn-primary" style="margin-left: 8px" type="submit">Adicionar</button>
      </form>
</div>