<div class="container-sm">
    <form class="row g-3">
        <div class="col-6">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" [(ngModel)]="paciente!.nome">
        </div>
        <div class="col-6">
          <label for="tel" class="form-label">Telefone</label>
          <input type="tel" class="form-control" id="tel" [(ngModel)]="paciente!.telefone">
        </div>
        <div class="col-6">
          <label for="endereco" class="form-label">Endereço</label>
          <input type="text" class="form-control" id="endereco" [(ngModel)]="paciente!.endereco">
        </div>
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="paciente!.email">
        </div>
        <div class="col-6">
          <label for="foto" class="form-label">Imagem</label>
          <input type="file" class="form-control" id="foto" [(ngModel)]="paciente!.urlImage">
        </div>
        <button class="btn btn-primary" style="margin-left: 8px" (click)="addNovoPaciente()">Adicionar</button>
      </form>
</div>