.container-sm {
    margin-top: 50px;
}

.linha-consulta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#addConsulta {
    margin-left: 20px;
    border-radius: 10px;
    height: 34px;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#imagem {
    background-color: rgba(255, 0, 0, 0.941);
    height: 37px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#imagem:hover {
    cursor: pointer;
    background-color: rgba(184, 0, 0, 0.941);
}

#imagem img {
    height: 18px;
}

#consulta {
    display: flex;
    align-items: end;
}