<div class="container-sm">
    <form [formGroup]="form" class="row g-3" (ngSubmit)="onSubmit()">
        <div class="col-6">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control" id="nome">
        </div>
        <div class="col-6">
          <label for="tel" class="form-label">Telefone</label>
          <input type="tel" formControlName="telefone" class="form-control" id="tel">
        </div>
        <div class="col-6">
          <label for="endereco" class="form-label">Endereço</label>
          <input type="text" formControlName="endereco" class="form-control" id="endereco">
        </div>
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control" id="email">
        </div>
        <div class="linha-consulta">
          <h2>Consulta</h2>
          <button class="btn btn-primary" id="addConsulta" type="button" (click)="adicionarNovaConsulta()">+</button>
        </div>
        <div formArrayName="consultas" *ngFor="let consulta of obterConsultasFormArrray().controls; let i = index">
          <div class="row" id="consulta" [formGroupName]="i">
            <div class="col-6">
              <label for="servico" class="form-label">Servico</label>
              <input type="text" formControlName="servico" class="form-control" id="servico">
            </div>
            <div class="col-3">
              <label for="dataHora" class="form-label">Data / Hora</label>
              <input type="text" formControlName="dataHora" class="form-control" id="dataHora">
            </div>
            <div class="col-1" id="imagem" (click)="deletarConsulta(i)"><img src="../../../assets/trash.png"></div>
            
          </div>
        </div>
        
        <button class="btn btn-primary" style="margin-left: 8px" type="submit">Adicionar</button>
      </form>
</div>