@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.search-bar {
    display: flex;
    margin: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    gap: 10px;
}

.card {
    box-shadow: 2px 5px 7px #681c3c2f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
}

p {
    margin: 0;
    font-weight: 500;
    color: #681c3c;
}