@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #681c3c;
}

img {
    max-width: 200px;
}

button {
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    #cardPaciente {
        min-width: 350px;
    }
  }

@media only screen and (min-width: 768px) {
    #imagePaciente {
        margin: 0;
        aspect-ratio: 2/2;
        object-fit: cover;
        min-width: 80px;
    }

    #cardPaciente {
        width: 500px;
    }

}

@media only screen and (max-width: 768px) {
    #imagePaciente {
        margin: 0;
        aspect-ratio: 2/2;
        object-fit: cover;
        border-radius: 5px;
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container-sm {
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    margin: 0;
}

#card-border {
    width: 500px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#card-border p {
    color: #681c3c;
    margin: 10px;
    font-weight: 600;
}

#imagem {
    background-color: rgba(255, 0, 0, 0.941);
    height: 37px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#imagem:hover {
    cursor: pointer;
    background-color: rgba(184, 0, 0, 0.941);
}

#imagem img {
    height: 18px;
}

#editButton {
    width: 100px;
    margin-bottom: 10px;
}