
<div class="container">
    <div class="card" id="cardPaciente">
        <div class="row">
          <div class="col-md-7">
            <div class="card-body" style="min-width: 200px;">
              <h5 class="card-title">{{ paciente?.nome }}</h5>
              <p class="card-text">Telefone: {{ paciente?.telefone }}</p>
              <p class="card-text">Email: {{ paciente?.email }}</p>
              <p class="card-text">Endereço: {{ paciente?.endereco }}</p>
            </div>
          </div>
        </div>
    </div>

    <div class="container-sm">
        <h4>Consultas</h4>
    </div>
    <div class="card border-primary" id="card-border" *ngFor="let consulta of paciente?.consultas">
        <p>{{ consulta.servico }}</p>
    </div>
    <button class="btn btn-primary">Nova consulta</button>
</div>